{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/settings/change_password_style.css' %}">
{% endblock %}

<div class="password-form-container">
    {% if messages %}
    <div id="toastContainer">
        {% for message in messages %}
        <div class="custom-alert alert alert-{{ message.tags }}">
        <i class="fas fa-check-circle"></i>
        <strong>{{ message.tags|title }}!</strong> {{ message }}
        <button type="button" class="close" onclick="closeAlert(this)">
            &times;
        </button>
        </div>
        {% endfor %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
        setTimeout(() => {
            document.querySelectorAll(".custom-alert").forEach((alert) => {
            alert.classList.add("fade-out");
            setTimeout(() => alert.remove(), 500);
            });
        }, 5000);
        });

        function closeAlert(button) {
        let alert = button.parentElement;
        alert.classList.add("fade-out");
        setTimeout(() => alert.remove(), 500);
        }
    </script>
    {%endif%}
    <form method="post" action="{% url 'staffside:change_password' %}" class="password-form">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="mb-4">
            <label class="form-label fw-bold">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
            <div class="text-danger small">
                {{ field.errors|join:", " }}
            </div>
            {% endif %}
        </div>
        {% endfor %}

        <button type="submit" class="btn w-100" style="font-size: 18px; background-color: #4E598C;color: white; height: 50px;">Change Password</button>
        <a href="{% url 'staffside:profile' %}" class="btn btn-secondary mt-3 w-100" style="text-align: center;height: 50px">Back to Profile</a>
    </form>
</div>
