{% load static %} {% block title %}
<title>Customer</title>
{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/customer_style.css' %}" />
{% endblock %}

<div class="customer-page">
    {% if messages %}
    <div id="toastContainer">
        {% for message in messages %}
            <div class="custom-alert alert alert-{{ message.tags }}">
                <i class="fas fa-check-circle"></i>
                <strong>{{ message.tags|title }}!</strong> {{ message }}
                <button type="button" class="close" onclick="closeAlert(this)">
                    &times;
                </button>
            </div>
        {% endfor %}
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            setTimeout(() => {
                document.querySelectorAll(".custom-alert").forEach(alert => {
                    alert.classList.add("fade-out");
                    setTimeout(() => alert.remove(), 500);
                });
            }, 5000);
        });

        function closeAlert(button) {
            let alert = button.parentElement;
            alert.classList.add("fade-out");
            setTimeout(() => alert.remove(), 500);
        }
    </script>
  {% endif %}
  <div class="customer-title mt-4">
    <h3>CUSTOMER</h3>

    <div class="search-container">
      <input
        type="text"
        id="searchInput"
        class="search-input"
        placeholder="Search by Firstname or Lastname"
      />
      <button class="search-btn" onclick="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>
    </div>

    <button
      class="open-button add-customer-button rounded-3"
      onclick="openForm(false)"
    >
      <span class="btn-text">
        <i class="fa-solid fa-plus plus-icon"></i> Add Customer
      </span>
      <span class="btn-icon"><i class="fa-solid fa-plus plus-icon"></i></span>
    </button>
  </div>

  <div class="overlay" id="overlay"></div>
  <div class="form-popup" id="myForm">
    <form id="customerForm" class="form-container" method="post">
      {%csrf_token%}
      <h1 class="mb-3">Add Customer</h1>

      <input type="hidden" id="customerId" name="customer_id" value="{{ customer.customer_id|default:'' }}"/>
      <div class="form-group">
        <div class="input-group">
          <label for="customerFirstName"><b>FirstName</b></label>
          <input
            type="text"
            id="customerFirstName"
            name="customer_firstname" 
            value="{{ form.customer_firstname.value|default:'' }}"
            placeholder="Enter FirstName"
          />
        </div>
        <div class="input-group">
          <label for="customerLastName"><b>LastName</b></label>
          <input
            type="text"
            id="customerLastName"
            name="customer_lastname" 
            value="{{ request.POST.customerLastName }}"
            placeholder="Enter LastName"
          />
        </div>
      </div>

      <div class="form-group full-width mb-4">
        <label for="customerAddress"><b>Address</b></label>
        <input type="text" id="customerAddress" name="customer_address" 
            value="{{ request.POST.customerAddress }}" placeholder="Enter Address"  />
      </div>
      <div class="input-group">
        <label for="customerEmail"><b>E-mail</b></label>
        <input type="email" id="customerEmail" name="customer_email" 
        value="{{ form.customer_email.value|default:'' }}" placeholder="Enter email" />
      </div>
      <div class="input-group">
        <label for="custpomerPhoneNo"><b>PhoneNo</b></label>
        <input
          type="tel"
          id="customerPhoneNo"
          name="customer_phone_no" 
          value="{{ form.customer_phone_no.value|default:'' }}"
          placeholder="Enter Phone Number"
        />
      </div>

      <div class="input-group">
        <label for="gender"><b>Gender</b></label>
        <select id="gender" name="gender">
          <option value="" disabled selected hidden>Choose Gender</option>
          <option value="Male" {% if customer_data.gender == "Male" %}selected{% endif %}>Male</option>
          <option value="Female" {% if customer_data.gender == "Female" %}selected{% endif %}>Female</option>
          <option value="Other" {% if customer_data.gender == "Other" %}selected{% endif %}>Other</option>
        </select>
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn">Add</button>
        <button type="button" class="btn cancel" onclick="closeForm()">
          Close
        </button>
      </div>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table customer-detail-table">
      <thead style="border-bottom: 2px solid #333 !important">
        <tr>
          <th>ID</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Address</th>
          <th>Email</th>
          <th>PhoneNo</th>
          <th>Gender</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="customerTableBody">

        {% if customers %}
            {% for customer in customers %}
            <tr>
                <td>{{ customer.customer_id }}</td>
                <td>{{ customer.customer_firstname|default:"-"}}</td>
                <td>{{ customer.customer_lastname|default:"-"}}</td>
                <td>{{ customer.customer_address|default:"-"}}</td>
                <td>{{ customer.customer_email|default:"-"}}</td>
                <td>{{ customer.customer_phone_no|default:"-" }}</td>
                <td>{{ customer.gender|default:"-" }}</td>
                <td>
                  <div class="action-buttons">
                    <button
                        class="update-btn"
                        onclick="editcustomer('{{ customer.customer_id }}','{{ customer.customer_firstname}}','{{ customer.customer_lastname}}','{{ customer.customer_address}}','{{ customer.customer_phone_no }}','{{ customer.customer_email}}','{{ customer.gender}}')"
                    >
                        <i class="fas fa-edit"></i>
                    </button>
                    <form
                        method="post"
                        action="{% url 'adminside:delete_customer' customer.customer_id %}"
                        style="display: inline"
                        onsubmit="return confirmDelete(event)"
                    >
                        {% csrf_token %}
                        <button type="submit" class="delete-btn">
                        <i class="fas fa-trash"></i>
                        </button>
                    </form>
                  </div>
                </td>
              </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="8" style="text-align: center;">No customer found. Click 'Add customer' to add one!</td>
            </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>


<!-- Include SweetAlert2 (Must be added in the <head> or before </body>) -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{% static 'js/customer_scripts.js' %}"></script>
