{% load static %}
{% block title %}
<title>Food-Items</title>
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/fooditem_style.css' %}">
{% endblock %}

<div class="food-items-page">
  <div class="food-item-title mt-4">
    <h3>FOOD ITEMS</h3>

    <div class="search-container">
      <input type="text" id="searchInput" class="search-input" placeholder="Search by category or name">
      <button class="search-btn" onclick="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table fooditem-detail-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Image</th>
          <th>Name</th>
          <th>Category</th>
          <th>Description</th>
          <th>Price</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody id="foodTableBody">
        {% if food_items %}
        {% for food_item in food_items %}
          <tr>
            <td>{{ food_item.inventory_id }}</td>
            <td>
              {% if food_item.image %}
                <img src="{{ food_item.image.url }}" alt="Food Image" width="50" height="50" style="object-fit: cover;">
              {% else %}
                No Image
              {% endif %}
            </td>
            <td>{{ food_item.food_item }}</td>
            <td>{{ food_item.category }}</td>
            <td>{{ food_item.description }}</td>
            <td>{{ food_item.sell_price }}</td>
            <td>Available</td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="7" style="text-align: center">No food items available in inventory.</td>
        </tr>
      {% endif %}
      </tbody>
    </table>
  </div>
</div>

<script src="{% static 'js/fooditem_scripts.js' %}"></script>
