{% load static %} {% block title %}
<title>Staff</title>
{% endblock %} {% block css %}
<link rel="stylesheet" href="{% static 'css/staff_style.css' %}" />
{% endblock %}

<div class="staff-page">
  {% if messages %}
  <div id="toastContainer">
    {% for message in messages %}
    <div class="custom-alert alert alert-{{ message.tags }}">
      <i class="fas fa-check-circle"></i>
      <strong>{{ message.tags|title }}!</strong> {{ message }}
      <button type="button" class="close" onclick="closeAlert(this)">
        &times;
      </button>
    </div>
    {% endfor %}
  </div>

  <script>
    document.addEventListener("DOMContentLoaded", function () {
      setTimeout(() => {
        document.querySelectorAll(".custom-alert").forEach((alert) => {
          alert.classList.add("fade-out");
          setTimeout(() => alert.remove(), 500);
        });
      }, 5000);
    });

    function closeAlert(button) {
      let alert = button.parentElement;
      alert.classList.add("fade-out");
      setTimeout(() => alert.remove(), 500);
    }
  </script>
  {% endif %}
  <div class="staff-title mt-4">
    <h3>STAFF</h3>

    <div class="search-container">
      <input
        type="text"
        id="searchInput"
        class="search-input"
        placeholder="Search by name"
      />
      <button class="search-btn" onclick="toggleSearch()">
        <i class="fa fa-search"></i>
      </button>
    </div>

    <button
      class="open-button add-staff-button rounded-3"
      onclick="openForm(false)"
    >
      <span class="btn-text">
        <i class="fa-solid fa-plus plus-icon"></i> Add Staff
      </span>
      <span class="btn-icon"><i class="fa-solid fa-plus plus-icon"></i></span>
    </button>
  </div>

  <div class="overlay" id="overlay"></div>
  <div class="form-popup" id="myForm">
    <form id="staffForm" class="form-container" method="post">
      {%csrf_token%}
      <h1 class="mb-3">Add Staff</h1>

      <input
        type="hidden"
        id="staffId"
        name="staff_id"
        value="{{ staff.staff_id|default:'' }}"
      />

      <div class="form-group">
        <div class="input-group">
          <label for="staffUserName"><b>UserName</b></label>
          <input
            type="text"
            id="staffUserName"
            name="staff_username"
            value="{{ form.staff_username.value|default:'' }}"
            placeholder="Enter User Name"
          />
        </div>
        <div class="input-group">
          <label for="staffFullName"><b>FullName</b></label>
          <input
            type="text"
            id="staffFullName"
            name="staff_fullname"
            value="{{ form.staff_fullname.value|default:'' }}"
            placeholder="Enter Full Name"
          />
        </div>
      </div>

      <div class="form-group">
        <div class="input-group">
          <label for="staffImage"><b>Image</b></label>
          <input
            type="file"
            id="staffImage"
            name="staff_img"
            value="{{ form.staff_img.value|default:'' }}"
            accept="image/*"
          />
        </div>
        <div class="input-group">
          <label for="staffPhoneNo"><b>PhoneNo</b></label>
          <input
            type="tel"
            id="staffPhoneNo"
            name="staff_phone_no"
            value="{{ form.staff_phone_no.value|default:'' }}"
            placeholder="Enter PhoneNo"
          />
        </div>
      </div>

      <div class="input-group">
        <label for="staffEmail"><b>E-mail</b></label>
        <input
          type="email"
          id="staffEmail"
          name="staff_email"
          value="{{ form.staff_email.value|default:'' }}"
          placeholder="Enter email"
        />
      </div>

      <div class="input-group">
        <label for="staffPassword"><b>Password</b></label>
        <input
          type="password"
          id="staffPassword"
          name="staff_password"
          value="{{ form.staff_password.value|default:'' }}"
          placeholder="Generate password"
          required
        />
      </div>

      <div class="form-group">
        <div class="input-group">
          <label for="staffRole"><b>StaffRole</b></label>
          <select id="staffRole" name="staff_role">
            <option value="" disabled selected hidden>Choose staff role</option>
            <option value="Manager"{% if staff_data.staff_role == "Manager" %}selected{% endif %}>Manager</option>
            <option value="Waiter" {% if staff_data.staff_role == "Waiter" %}selected{% endif %}>Waiter</option>
            <option value="Chef" {% if staff_data.staff_role == "Chef" %}selected{% endif %}>Chef</option>
          </select>
        </div>
        <div class="input-group">
          <label for="branch"><b>Branch</b></label>
          <select name="branch" id="branch">
            <option value="" disabled selected hidden>Choose Branch</option>
            {% for branch in branches %}
            <option value="{{ branch.branch_id }}">
              {{ branch.branch_id }},{{ branch.branch_name }}
            </option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="form-buttons">
        <button type="submit" class="btn">Add</button>
        <button type="button" class="btn cancel" onclick="closeForm()">
          Close
        </button>
      </div>
      <span
        id="defaultImagePath"
        data-path="{% static 'images/default-profile.jpg'%}"
        hidden
      ></span>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table staff-detail-table">
      <thead style="border-bottom: 2px solid #333 !important">
        <tr>
          <th>Staff ID</th>
          <th>Image</th>
          <th>FullName</th>
          <th>UserName</th>
          <th>E-mail</th>
          <th>Password</th>
          <th>PhoneNo</th>
          <th>StaffRole</th>
          <th>Branch</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="staffBody">
        {% if staff_list %}
        {% for staff in staff_list %}
        <tr>
          <td>{{ staff.staff_id }}</td>
          <td>{{ staff.staff_img }}</td>
          <td>{{ staff.staff_username }}</td>
          <td>{{ staff.staff_fullname }}</td>
          <td>{{ staff.staff_email }}</td>
          <td>{{ staff.staff_password }}</td>
          <td>{{ staff.staff_phone_no }}</td>
          <td>{{ staff.staff_role }}</td>
          <td>{{ staff.branch}}</td>
          <td class="action-buttons">
            <button
              class="update-btn"
              onclick="editstaff('{{ staff.staff_id }}','{{ staff.staff_img }}','{{ staff.staff_username }}','{{ staff.staff_fullname }}','{{ staff.staff_email }}','{{ staff.staff_password }}','{{ staff.staff_phone_no }}','{{ staff.staff_role }}','{{ staff.branch}}')"
            >
              <i class="fas fa-edit"></i>
            </button>
            <form
                method="post"
                action="{% url 'adminside:delete_staff' staff.staff_id %}"
                style="display: inline"
                onsubmit="return confirmDelete(event)"
              >
                {% csrf_token %}
                <button type="submit" class="delete-btn">
                  <i class="fas fa-trash"></i>
                </button>
            </form>
          </td>
        </tr>
        {% endfor %}
        {% else %}
          <tr>
          <td colspan="8" style="text-align: center;">No Staff found. Click 'Add Staff' to add one!</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

<script src="{% static 'js/staff_scripts.js' %}"></script>
