* {
    font-family: "Nunito", sans-serif;
  }
  :root {
    --color: #4e598c;
  }
  .report-title {
    display: flex;
    align-items: center;
    margin: 5px;
    width: 100%;
  }

  .report-title h3{
    margin-bottom: 0;
  }
.da-box{
  margin-left: 10px;
}
  #incomeDropdown {
    padding: 8px 12px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background-color: #4E598C; 
    color: white; 
    font-size: 16px;
    cursor: pointer;
    outline: none;
}
#incomeDropdown option {
    background-color: white;
    color: black; 
}
  
  .btn-icon {
    display: none;
  }
  
  .search-container {
    display: flex;
    gap: 8px;
    position: relative;
    margin-left: auto;
  }
  
  .search-input {
    padding: 3px 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
    display: block;
    width: 250;
  }
  
  .search-btn {
    background-color: #f9c784;
    color: black;
    border: none;
    padding: 7px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
  }
  
  .search-btn i {
    font-size: 15px;
  }
  
  
  @media (max-width: 768px) {
    .report-title {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  
    .search-input {
      display: none;
      width: 0;
    }
  
    .search-container.active .search-input {
      display: block;
      width: 180px;
    }
  }